<h2>Add New Product</h2>
<form (ngSubmit)="addProduct()"> 
    <label> Name: <input [(ngModel)]="product.name" name="name" required>
    </label> <br>

    <label>
        Price: <input type="number" [(ngModel)]="product.price" name="price" required value="5">
    </label> <br>
    <label>

        Promotion: <input type="checkbox" [(ngModel)]="product.promotion" name="promotion" >
    </label> <br>
    <label>

        Discount: <input type="number" [(ngModel)]="product.discount" name="discount" value="5">
    </label> <br>
    <label>
        Category:
        <input [(ngModel)]="product.category.name" name="category" required value="category">
    </label> <br>
    <button type="submit">Add
        Product</button>
</form>